th {
    font-weight: bold;
    font-style: italic;
}

ul {
    display: flex;
    flex-direction: column;
    text-align: left;
}

div.habit-overview {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.habit-overview label       { text-align:left; }
div.habit-overview label:after { content: ":"; }

#resetHabitButton {
    margin-top: 1em;
}
/* label {
    text-align: left;
}
input { 
    align-items: end;
} */